body{
    background-color: black;
    color: white;
    padding: 15px 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header h3{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.nav-bar{
    
}